{{#content 'styles' mode='append'}}
<link rel="stylesheet" href="/plugins/select2/css/select2.min.css" />
<style>
	.card-header.filter {
		background-color: rgba(0,0,0,.03);
	}
	.card-header.filter .btn-search {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}

	.card-footer .pagination .page-item {
		cursor: pointer;
	}
	.card-footer .pagination .page-item.disabled {
		cursor: no-drop !important;
	}
</style>
{{/content}}

<input type="hidden" name="init.filters" value="{{stringify filters}}">
<input type="hidden" name="init.pagination" value="{{stringify pagination}}">

<div class="card" x-data="initTableData()">
	<div class="card-header">
		<div
			class="card-title row g-3 align-items-center"
			style="font-size: medium;"
		>
			<div class="col-auto">
				<label for="per_page" class="col-form-label">Show</label>
			</div>
			<div class="col-auto">
				<select
					class="form-control"
					name="per_page"
					aria-label="Data per halaman"
					x-on:change="pagination.perPage = $event.target.value; pagination.currentPage = 1;"
				>
				{{#each perPageOpts as |opt|}}
					<option value="{{opt}}" {{{echoif (eq opt ../pagination.perPage) 'selected=""'}}}>
						{{opt}}
					</option>
				{{/each}}
				</select>
			</div>
			<div class="col-auto">
				<span class="form-text">Entries</span>
			</div>
		</div>
		<div class="card-tools">
			<a class="btn btn-primary" href="{{baseRoute}}/create">
				<i class="fas fa-plus me-1"></i>
				Tambah KK
			</a>
		</div>
	</div>
	{{!-- filters --}}
	<div class="card-header filter">
		<div class="mt-3 px-1">
			<form class="row g-3">
				<div class="col-12 col-sm-2 mb-3 mb-sm-0">
					<label for="rw" class="form-label">RW</label>
					<select class="form-control select2" name="f.community_assoc_id" aria-label="Pilih RW" x-on:change="console.log('rw changed')">
						<option value=""></option>
						{{#each communityAssocs as |communityAssoc|}}
							<option value="{{communityAssoc.id}}">{{communityAssoc.name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="col-12 col-sm-2 mb-3 mb-sm-0">
					<label for="rt" class="form-label">RT</label>
					<select class="form-control" name="f.resident_assoc_id" aria-label="Pilih RT">
						<option value=""></option>
					</select>
				</div>
				<div class="col-12 col-sm-4 mb-3 mb-sm-0">
					<label for="resident" class="form-label">Warga</label>
					<input
						type="text"
						name="resident_name"
						class="form-control"
						placeholder="Nama Warga. Min: 3 char"
						aria-label="warga"
						x-model="filters.q">
				</div>
				<div class="col-auto d-flex align-items-end">
					<button
						class="btn btn-primary btn-search mr-2"
						title="search with filters"
						x-bind:disabled="isFiltersEmpty"
						x-on:click.prevent="applyFilters"
					>
						<i class="fas fa-search"></i>
					</button>
					<button
						class="btn btn-outline-secondary"
						title="clear filters"
						x-on:click.prevent="clearFilters"
					>
						<i class="fas fa-times mr-1"></i>
						Clear filter
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="card-body p-0 table-responsive">
		{{!-- datatable --}}
		<table class="table">
			<thead>
				<tr>
					<th>Nama</th>
					<th>Telepon</th>
					<th>Alamat</th>
					<th style="width: 220px;">Tgl. Terdaftar</th>
					<th class="text-center" style="width: 60px"></th>
				</tr>
			</thead>
			<tbody>
				{{#each data as |item|}}
					<tr>
						<td>{{item.user.firstname}} {{item.user.lastname}}</td>
						<td>{{item.user.phone}}</td>
						<td>
							<div class="text-truncate">
								{{item.address}}
							</div>
							{{item.resident_assoc.name}}, {{item.resident_assoc.community_assoc.name}}
							
						</td>
						<td>{{item.createdAt}}</td>
						<td>
							<div class="dropdown">
								<button
									class="btn btn-outline-dark dropdown-toggle"
									type="button"
									id="btn-role-opt"
									data-toggle="dropdown"
									aria-expanded="false"
								>
									<i class="fas fa-cog"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="btn-role-opt">
									<li>
										<a class="dropdown-item" href="{{../baseRoute}}/{{item.id}}">Edit</a>
									</li>
									<li>
										<a class="dropdown-item" type="button" x-on:click="() => confirmDelete({{item.id}})">Hapus</a>
										<form id="form-delete-{{item.id}}" class="d-none m-0" action="{{../baseRoute}}/{{item.id}}" method="post">
											{{{method 'DELETE'}}}
											<button type="submit"></button>
										</form>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="card-footer clearfix">
		<div
			class="d-flex flex-column flex-md-row align-items-center justify-content-between"
		>
			<p class="m-0 mb-3 mb-sm-0" x-text="`Showing ${pagination.showFrom} to ${pagination.showTo} of ${pagination.totalCount} entries`"></p>
			<ul class="pagination m-0">
				<li class="page-item {{echoif (eq pagination.currentPage 1) 'disabled'}}">
					<a
						class="page-link"
						href="#"
						x-on:click.prevent="goToPrevPage"
						{{{echoif (eq pagination.currentPage 1) 'tabindex="-1" aria-disabled="true"'}}}
					>
						«
					</a>
				</li>
				<template x-for="page in pages">
					<li
						class="page-item"
						x-bind:class="{
							'active': pagination.currentPage === page,
							'disabled': page === '...',
						}"
						x-bind:aria-current="pagination.currentPage === page && 'page'"
					>
						<a class="page-link" x-on:click.prevent="pagination.currentPage = page;" x-text="page"></a>
					</li>
				</template>
				<li class="page-item {{echoif (eq pagination.currentPage pagination.totalPages) 'disabled'}}">
					<a
						class="page-link"
						href="#"
						{{{echoif (eq pagination.currentPage 1) 'tabindex="-1" aria-disabled="true"'}}}
						x-on:click.prevent="goToNextPage"
					>
						»
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

{{#content 'scripts' mode='append'}}
<script type="text/javascript" src="/plugins/select2/js/select2.full.min.js"></script>
<script>
	function initTableData() {
		return {
			filters: JSON.parse($('[name="init.filters"]').val()),
			pagination: JSON.parse($('[name="init.pagination"]').val()),
			pages: [1],
			get isFiltersEmpty() {
				return !this.filters.communityAssocId && !this.filters.residentAssocId && !this.filters.q;
			},
			getFilterQueries() {
				const qParams = new URLSearchParams();
				if(this.filters.communityAssocId) {
					qParams.append('f.cai', this.filters.communityAssocId);
				}
				if(this.filters.residentAssocId) {
					qParams.append('f.rai', this.filters.residentAssocId);
				}
				if(this.filters.q) {
					qParams.append('f.q', this.filters.q);
				}
				return qParams;
			},
			applyFilters() {
				if (this.isFiltersEmpty) return;

				const qParams = this.getFilterQueries();
				window.location.href = '{{baseRoute}}?' + qParams.toString();
			},
			clearFilters() {
				window.location.href = '{{baseRoute}}';
			},
			generatePages() {
				const root = this;

				const currentPage = this.pagination.currentPage;

				const pagesToDisplay = 3;
				const pagesToDisplayFromBack = [...Array(pagesToDisplay).keys()]
					.reverse()
					.map((page) => {
						return root.pagination.totalPages - page;
					});
				
				// if total pages does not exceed pagesToDisplay, show all pages
				if (this.pagination.totalPages <= pagesToDisplay) {
					return this.pages = [...Array(this.pagination.totalPages).keys()].map((page) => {
						return page + 1;
					});
				}

				// truncate page base on pagesToDisplay
				let pages = [1];

				// show 1, 2, 3
				if (currentPage < pagesToDisplay) {
					for (let i = 2; i <= pagesToDisplay; i++) {
						pages.push(i);
					}
				}

				if (currentPage >= pagesToDisplay) {
					pages.push('...');

					// show 1, ..., 8, 9, 10
					if (pagesToDisplayFromBack.includes(currentPage)) {
						pages = pages.concat(pagesToDisplayFromBack);
					} else {
						// show 1, ..., 4, 5, 6
						let i = currentPage;
						let pagesHasDisplay = 0;

						if (currentPage === this.pagination.totalPages) {
							i = this.pagination.totalPages - (pagesToDisplay - 1);
						}

						while (pagesHasDisplay < pagesToDisplay) {
							if (i + pagesHasDisplay > 1) {
								pages.push(i + pagesHasDisplay);
							}

							pagesHasDisplay += 1;
						}
					}
				}

				// show 1, 2, 3, ..., 10
				if (!pages.includes(this.pagination.totalPages) && this.pagination.totalPages > pagesToDisplay) {
					pages.push('...');
					pages.push(this.pagination.totalPages);
				}

				this.pages = pages;
			},			
			goToPrevPage() {
				if (this.pagination.currentPage === 1) return;

				this.pagination.currentPage -= 1;
			},
			goToNextPage() {
				if (this.pagination.currentPage === this.pagination.totalPage) return;

				this.pagination.currentPage += 1;
			},
			confirmDelete(id) {
				Swal.fire({
					showCancelButton: true,
					title: 'Yakin untuk menghapus data?',
					text: 'Data yang telah dihapus, tidak dapat dikembalikan.',
					icon: 'warning',
				})
					.then((result) => {
						if (result.isConfirmed) {
							document.getElementById(`form-delete-${id}`).submit();
						}
					})
			},
			init() {
				const root = this;
				
				let initFResidentAssocId = root.filters.residentAssocId;

				$('[name="f.community_assoc_id"]').select2({ placeholder: 'Pilih RW', allowClear: true });
				$('[name="f.community_assoc_id"]').change(function () {
					$('[name="f.resident_assoc_id"]').val('').trigger('change');
					
					const communityAssocId = $(this).val();

					root.filters.communityAssocId = communityAssocId;

					const defaultSelectedId = initFResidentAssocId;
					const residentAssocsApiUrl = `/api/community-assocs/${communityAssocId}/resident-assocs`;
					select2AjaxHandler('[name="f.resident_assoc_id"]', residentAssocsApiUrl, {
						placeholder: 'Pilih RT',
						allowClear: true,
						defaultSelectedId,
					});

					initFResidentAssocId = null;
				});

				$('[name="f.resident_assoc_id"]').select2({ placeholder: 'Pilih RT', allowClear: true });
				$('[name="f.resident_assoc_id"]').change(function () {
					if ($(this).val()) {
						root.filters.residentAssocId = $(this).val();
					}
				});

				if (root.filters.communityAssocId) {
					$('[name="f.community_assoc_id"]').val(root.filters.communityAssocId).trigger('change');
				}

				this.generatePages();

				this.$watch('pagination', (value) => {
					const { currentPage, perPage } = value;

					const qParams = new URLSearchParams(this.getFilterQueries());
					qParams.append('pp', perPage);
					qParams.append('p', currentPage);

					window.location.href = '{{baseRoute}}?' + qParams.toString();
				});
			}
		};
	}
</script>
{{/content}}