<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex, nofollow" />
		<title>{{title}}{{echoif appName " | "}}{{appName}}</title>
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="180x180" />
		<link rel="icon" href="/img/favicon.ico" />
		<link rel="icon" href="/img/favicon-16x16.png" sizes="16x16" type="image/png" />
		<link rel="icon" href="/img/favicon-32x32.png" sizes="32x32" type="image/png" />
		<meta name="author" content="Kelurahan Pekauman, Kecamatan Sidoarjo, Kabupaten Sidoarjo" />
		<meta
			name="description"
			content="Aplikasi RT, RW, kelurahan Pekauman, kecamatan Sidoarjo. Kabupaten Sidoarjo. untuk mengelola dan pelaporan hasil jimpitan warga, melanjutkan kearifan lokal dengan pemanfaatan teknologi."
		/>
		<meta property="og:title" content="{{title}}{{echoif appName ' | '}}{{appName}}" />
		<meta
			property="og:description"
			content="Aplikasi RT, RW, kelurahan Pekauman, kecamatan Sidoarjo. Kabupaten Sidoarjo. untuk mengelola dan pelaporan hasil jimpitan warga, melanjutkan kearifan lokal dengan pemanfaatan teknologi."
		/>
		<meta property="og:image" content="https://jimpitman.my.id/img/logo-sda.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="271" />
		<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
		<link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css" />
		{{#block "styles"}}{{/block}}
		<link rel="stylesheet" href="/css/adminlte.min.css" />
		<style>
			.form-control.select2.is-invalid ~ .select2 > .selection > .select2-selection { border-color: #dc3545;}
			.content-wrapper { height: max-content; }
		</style>
	</head>
	<body class="sidebar-mini layout-fixed">
		<!-- Site wrapper -->
		<div class="wrapper">
			<!-- Navbar -->
			<nav class="main-header navbar navbar-expand navbar-white navbar-light">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#" role="button">
							<i class="fas fa-bars"></i>
							<div class="d-inline-block ml-2 ml-md-0 d-md-none"><b>{{appName}}</b>Admin</div>
						</a>
					</li>
				</ul>

				<!-- Right navbar links -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<form action="/admin/logout" method="POST" style="margin-bottom: 4px;">
							{{{method "PUT"}}}
							<button class="btn btn-link nav-link" type="submit">
								Logout
								<i class="pl-2 nav-icon fas fa-long-arrow-alt-right"></i>
							</button>
						</form>
					</li>
				</ul>
			</nav>
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			<aside class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="/admin" class="brand-link text-center">
					<span class="brand-text font-weight-light"><b>Jimpitan</b>Admin</span>
				</a>

				<!-- Sidebar -->
				<div class="sidebar">
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="image">
							<img src="/img/avatar.png" class="img-circle elevation-0" alt="User Image" />
						</div>
						<div class="info">
							<a href="#" class="d-block text-capitalize">
								{{#if user.firstname}}
									{{user.firstname}}
									{{user.lastname}}
								{{else}}
									{{user.username}}
								{{/if}}
							</a>
						</div>
					</div>
					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
							<li class="nav-item">
								<a href="/admin" class="nav-link">
									<i class="nav-icon fas fa-house-user"></i>
									<p>Dashboard</p>
								</a>
							</li>
							{{#if (eq user.role_id 2)}}
								<li class="nav-header">IURAN WARGA</li>
								<li class="nav-item">
									<a href="/admin/dues/income" class="nav-link">
										<i class="nav-icon fas fa-donate"></i>
										<p>
											Collect Iuran
											{{! <span class="badge badge-info right">2</span> }}
										</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/admin/dues/expense" class="nav-link">
										<i class="nav-icon fas fa-people-carry"></i>
										<p>
											Pengeluaran Iuran
										</p>
									</a>
								</li>
							{{/if}}
							{{#if (eq user.role_id 1)}}
								<li class="nav-header">KELOLA WARGA</li>
								<li class="nav-item">
									<a href="/admin/residential/community-assocs" class="nav-link">
										<i class="nav-icon fas fa-project-diagram"></i>
										<p>Rukun Warga (RW)</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/admin/residential/resident-assocs" class="nav-link">
										<i class="nav-icon fas fa-users"></i>
										<p>Rukun Tetangga (RT)</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/admin/residential/residents" class="nav-link">
										<i class="nav-icon fas fa-id-badge"></i>
										<p>Kepala Keluarga (KK)</p>
									</a>
								</li>
								<li class="nav-header">KELOLA PENGGUNA</li>
								<li class="nav-item">
									<a href="/admin/master/roles" class="nav-link">
										<i class="nav-icon fas fa-briefcase"></i>
										<p>Role Pengguna</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/admin/master/users" class="nav-link">
										<i class="nav-icon fas fa-user-cog"></i>
										<p>Daftar Pengguna</p>
									</a>
								</li>
							{{/if}}
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				{{#if notification}}
					<div class="m-2 alert alert-{{notification.type}} alert-dismisable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<h5 class="text-capitalize">
							<i class="icon fas {{notification.icon}}"></i>
							{{notification.title}}
						</h5>
						{{notification.message}}
					</div>
				{{/if}}

				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="text-truncate">{{title}}</h1>
							</div>
							<div class="col-sm-6">{{{breadcrumbs breadcrumbs}}}</div>
							<div class="col-sm-6"></div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>

				<!-- Main content -->
				<section class="content">{{{body}}}</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<footer class="main-footer">
				<div class="float-right d-none d-sm-block"><b>Version</b> 1.0.0</div>
				<strong>Copyright &copy; 2024 Kelurahan Pekauman Sidoarjo.</strong>
				All rights reserved.
			</footer>
		</div>
		<!-- ./wrapper -->

		<script src="/plugins/jquery/jquery.min.js"></script>
		<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/plugins/sweetalert2/sweetalert2.all.min.js"></script>
		<script src="/js/adminlte.min.js"></script>
		<script src="/js/utils.js"></script>
		{{#block "scripts"}}{{/block}}
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</body>
</html>