<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{title}}{{echoif appName " | "}}{{appName}}</title>
		<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="180x180" />
		<link rel="icon" href="/img/favicon.ico" />
		<link rel="icon" href="/img/favicon-16x16.png" sizes="16x16" type="image/png" />
		<link rel="icon" href="/img/favicon-32x32.png" sizes="32x32" type="image/png" />
		<meta name="author" content="Kelurahan Pekauman, Kecamatan Sidoarjo, Kabupaten Sidoarjo" />
		<meta
			name="description"
			content="Aplikasi RT, RW, kelurahan Pekauman, kecamatan Sidoarjo. Kabupaten Sidoarjo. untuk mengelola dan pelaporan hasil jimpitan warga, melanjutkan kearifan lokal dengan pemanfaatan teknologi."
		/>
		<meta property="og:title" content="{{title}}{{echoif appName ' | '}}{{appName}}" />
		<meta
			property="og:description"
			content="Aplikasi RT, RW, kelurahan Pekauman, kecamatan Sidoarjo. Kabupaten Sidoarjo. untuk mengelola dan pelaporan hasil jimpitan warga, melanjutkan kearifan lokal dengan pemanfaatan teknologi."
		/>
		<meta property="og:image" content="https://jimpitman.my.id/img/logo-sda.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="271" />
		<link rel="stylesheet" href="/css/gradfull-theme.css" />
		{{#block "styles"}}{{/block}}
		{{!-- prettier-ignore --}}
		<style type="text/css">
				.select2-container {
					display: block;
				}
				.select2-container--default .select2-selection--single {
					height: auto;
					border: var(--bs-border-width) solid var(--bs-border-color);
					border-radius: var(--bs-border-radius);
					padding: .24rem .75rem;
				}
				.select2-container--default .select2-selection--single .select2-selection__arrow {
					top: 50%;
					transform: translateY(-50%);
				}
				.pagination .page-item a.page-link {
					cursor: pointer;
				}
				.pagination .page-item a.page-link.disabled {
					cursor: pointer;
				}

				@media (min-width: 375px) {
					.w-sm-auto {
						width: auto !important;
					}
				}
		</style>
		{{!-- prettier-ignore --}}
	</head>
	<body class="home">
		{{> front/header}}

		{{{body}}}

		{{> front/footer}}

		<script src="/plugins/jquery/jquery.min.js"></script>
		<script src="/js/gradfull-theme.js"></script>
		<script src="/js/utils.js"></script>
		{{#block "scripts"}}
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		{{/block}}
	</body>
</html>